<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>HackCMU</string>
    <key>CFBundleIdentifier</key>
    <string>com.hackcmu.IndoorMap</string>
    <key>CFBundleName</key>
    <string>HackCMU</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>HackCMU uses your location to align indoor walk recordings.</string>
    <key>NSMotionUsageDescription</key>
    <string>HackCMU uses motion data to estimate your indoor walking path.</string>
</dict>
</plist>
